/* Basic Styling - don't alter this part! */
html,
body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: cornflowerblue;
    color: #555;
}
header {
    color: white;
    padding: 25px;
}
header h1 {
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 15px;
}
main h2 {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

/* table css */


/* Add Student Styles Below */
.jane-style {
    color: hotpink;
    background-color: black;
    padding: 3px;
}

.code-ninja-style {
    color: blue;
    background-color: lightblue;
    padding: 3px;
}

.ay-ay-ron-style {
    color: white;
    background-color: rgb(99, 84, 150);
    padding: 3px;
}