/* Basic Styling - don't alter this part! */
html,
body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-image: url(https://www.huntshowdown.com//files/screenshots/32_Hunt_screenshot_Update6.0.jpg);
    background-repeat: repeat-y;
    background-size: cover;
    color: rgb(255, 0, 0);
}
header {
    background: linear-gradient(to bottom right, rgb(92, 149, 235), rgb(190, 18, 18));
    color: white;
    padding: 25px;
}
header h1 {
    margin: 0;
}
main h2 {
    color: black;
    text-decoration: underline;
}
.container {
    width: 65%;
    margin: 0 auto;
}

/* Add Student Styles Below */
.kirbykirbykirby {
    color: hotpink;
    background-color: black;
    padding: 3px;
}

.code-ninja-style {
    color: blue;
    background-color: lightblue;
    padding: 3px;
}

.kirby-styles {
    background:rgb(92, 149, 235);
}

.xochi-style {
    color: green;
    background: rgb(2,0.36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}