/* Basic Styling - don't alter this part! */
html,
body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: rgb(217, 234, 240);
    color: #555;
}
header {
    background: linear-gradient(to bottom right, rgb(92, 149, 235), #333);
    color: white;
    padding: 25px;
}
header h1 {
    margin: 0;
}
main h2 {
    color: black;
    text-decoration: underline;
}
.container {
    width: 65%;
    margin: 0 auto;
}

/* Add Student Styles Below */
.jane-style {
    color: hotpink;
    background-color: black;
    padding: 3px;
}

.code-ninja-style {
    color: blue;
    background-color: lightblue;
    padding: 3px;
}

.codys-styles {
    background:rgb(92, 149, 235);
}

.stans-styles {
    background-color:lightgray;
}

.my-bio {
    background-color: green;
    color: white;
}



button.surprise {
    font-size: 20px;
    padding: 20px;
    border-radius: 20%;
    box-shadow: 0 10px gray;
}
button.surprise:hover {
    background-color: purple;
    color: white;
    box-shadow: 0 10px rgb(161, 107, 161);
}
button.surprise:active {
    box-shadow: 0 3px rgb(161, 107, 161);
    transition: .1s;
    transform: translateY(7px)
}
button.surprise:active + p.invisible{
    display: block;
}
p.invisible {
    display: none;
    font-size: 30px;
    color: purple;
}